a {
  color: $color-blue-primary;
}

a:hover {
  text-decoration: none;
}

.link-primary {
  @include link-create($color-blue-primary, $icon-link-right-arrow);
}

.link-secondary {
  @include link-create($color-blue-primary);
}

.link-call {
  @include link-create(#fefefe, $icon-phone);
}