// Mixins
@mixin media-query($media-query) {
  @if $media-query == small {
    @media only screen and (max-width: $medium - 1) { @content; }
  }

  @if $media-query == medium {
    @media only screen and (min-width: $medium) { @content; }
  }

  @if $media-query == medium-only {
    @media only screen and (min-width: $medium) and (max-width: $large - 1) { @content; }
  }

  @if $media-query == large {
    @media only screen and (min-width: $large) { @content; }
  }
}

@mixin small { @include media-query(small) { @content }; }
@mixin medium-only { @include media-query(medium-only) { @content }; }
@mixin medium { @include media-query(medium) { @content }; }
@mixin large { @include media-query(large) { @content }; }

// Mixin to create links
@mixin link-create($text-color, $link-icon: false) {
  color: $text-color;
  font-weight: 300;
  display: inline-block;

  @if $link-icon {
    text-decoration: none;
    &::before {
      display: inline-block;
      padding-right: 10px;
      font-family: FontAwesome;
      font-size: $font-size-small + 4;
      content: $link-icon;
    }
  }
}

@mixin container($is-relative: false) {
  box-sizing: border-box;

  @if $is-relative {
    position: relative;
  }

  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;

  @include large {
    max-width: $large-container;
  }
}

// Grid
@mixin create-column($columns) {
  position: relative;
  float: left;
  width: percentage(($columns / $grid-columns));
  min-height: 1px;
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
}