// Mixins
@mixin media-query($media-query) {
  @if $media-query == small {
    @media only screen and (max-width: $small) { @content; }
  }

  @if $media-query == large {
    @media only screen and (min-width: $small + 1) { @content; }
  }
}

@mixin small { @include media-query(small) { @content }; }
@mixin large { @include media-query(large) { @content }; }

// Mixin to create links
@mixin link-create($text-color, $link-icon: false) {
  color: $text-color;
  font-weight: 300;
  display: inline-block;

  &:hover {
    color: $color-gray-dark;
  }

  @if $link-icon {
    text-decoration: none;
    &::before {
      display: inline-block;
      padding-right: 10px;
      font-family: FontAwesome;
      font-size: $font-size-small + 4;
      content: $link-icon;
    }
  }
}

@mixin container($is-relative: false) {
  box-sizing: content-box;

  @if $is-relative {
    position: relative;
  }

  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;

  @include large {
    max-width: $large-container;
  }
}

// Grid rules
@mixin column-rule() {
  float: left;
  margin-right: $large-gutter-width;
}