// Breakpoints
$small: 480px;

$fonts: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$backgroundColor: #fff;
$headerBackgroundColor: #4285f4;
$navigationContainerBackgroundColor: #3367D6;

// Mixins
@mixin media-query($media-query) {
  @if $media-query == small {
    @media only screen and (max-width: $small) { @content; }
  }

  @if $media-query == large {
    @media only screen and (min-width: $small + 1) { @content; }
  }
}

@mixin large { @include media-query(large) { @content }; }
