@import "variables";
@import "mixins";
@import "normalize";
@import "grid";
@import "typography";
@import "links";
@import "../../bower_components/font-awesome/scss/font-awesome";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: $font-family-base;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: $font-size-base;
  background-color: $body-background;
  box-sizing: border-box;
  min-height: 100%;
  color: $text-color;
}

body.open {
  overflow: hidden;
}

.header-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $header-background-color;
  overflow: hidden;
  z-index: 1;

  button {
    width: 60px;
    height: 60px;
    background-image: none;
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-block;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    -webkit-tap-highlight-color: transparent;

    img {
      height: 24px;
      width: 24px;
    }
  }

  button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  button:focus {
    background-color: rgba(255, 255, 255, 0.2);
    outline: 0;
  }

  button:active {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .logo {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 2em;
    line-height: 60px;
    margin: 0 16px;
    padding: 0;
    color: #fefefe;
    float: none;
    max-width: none;
    font-weight: 300;
    display: initial;

    a {
      text-decoration: none;
      color: inherit;
      font-weight: normal;
    }
  }
}

.header-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
}

.header-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  z-index: 2;

  .link-call {
    &::before {
      font-size: 36px;
    }

    .link-call-text {
      display: none;
    }
  }
}

.header-bar.open,
.header-bar.open ~ main {
  -webkit-transform: translate(250px, 0);
  transform: translate(250px, 0);
}

.navigation-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: $navigation-background-color;
  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  overflow-y: auto;
}

.navigation-container.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.header-bar,
.navigation-container.opened,
main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.navigation-container {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li:before {
      content: none;
    }

    li {
      border-bottom-style: solid;
      border-width: 1px;
      border-color: white;
      padding: 0;

      a {
        padding: 17px 20px;
        line-height: 1.4;
        display: block;
        text-decoration: none;
        color: white;
        -webkit-transition: background-color 0.2s ease-out;
        transition: background-color 0.2s ease-out;
        white-space: nowrap;
      }

      a:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }

      a:focus {
        background-color: rgba(255, 255, 255, 0.3);
        outline: 0;
      }

      a:active {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
  }
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}

.list-popular {
  display: flex;
  flex-wrap: wrap;

  .list-popular-item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .popular-item-logo {
      width: 35%;
    }
    .popular-item-info {
      width: 65%;
      padding-top: 8px;
    }
  }
}

@include large {
  .header-bar {
    position: relative;

    .logo {
      float: left;
      margin: 0;
      padding: 0;
      line-height: 130px;
      font-size: 46px;
    }
  }

  .header-bar-actions {
    float: right;

    .link-call {
      &::before {
        font-size: 18px;
      }

      .link-call-text {
        display: inline-block;
      }
    }
  }

  .header-bar.open,
  .header-bar.open ~ main {
    -webkit-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }

  .header-bar-container {
    display: block;
    height: 130px;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: $header-background-color;
  }

  .header-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  .navigation-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: none;
    transition: none;
    overflow-y: auto;

    ul {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      max-width: 864px;
      margin: 0 auto;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;

      li {
        border: none;
      }
    }
  }

  main {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;
  }

  body {
    font-size: 1.1em;
    overflow-y: scroll;
  }
}