.idea
node_modules
bower_components
dist
tmp
app/styles/_normalize.scss
app/fonts/fontawesome*
app/fonts/FontAwesome*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
